In [1]:
import numpy as np
import pandas as pd
print(np.__version__ )
print(pd.__version__ )

1.19.2
1.1.3

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [3]:
print('shape: ', df.shape)
print('size: ', df.size)
print('values: ', df.values)
print('index: ', df.index)
print('columns: ', df.columns)
print('dtypes: ', df.dtypes)
print('len: ', len(df))

shape:  (10, 4)
size:  40
values:  [['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 nan 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' nan 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]
index:  RangeIndex(start=0, stop=10, step=1)
columns:  Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')
dtypes:  Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object
len:  10

In [4]:
name_list = ['小明','小華','小菁','小美','小張','John','Mark','Tom']
sex_list = ['boy','boy','girl','girl','boy','boy','boy','boy']
weight_list = [67.5,75.3,50.1,45.5,80.8,90.4,78.4,70.7]
rank_list = [8,1,5,4,7,6,2,3]
myopia_list = [True,True,False,False,True,True,False,False]

x = np.dtype({'names':('name', 'sex', 'weight', 'rank', 'myopia'), 'formats':('U10', 'U6', np.float_, np.int_, np.bool_)})
a = np.zeros(8,dtype=x)
a['name'] = name_list
a['sex'] = sex_list
a['weight'] = weight_list
a['rank'] = rank_list
a['myopia'] = myopia_list
print(a)

[('小明', 'boy', 67.5, 8,  True) ('小華', 'boy', 75.3, 1,  True)
 ('小菁', 'girl', 50.1, 5, False) ('小美', 'girl', 45.5, 4, False)
 ('小張', 'boy', 80.8, 7,  True) ('John', 'boy', 90.4, 6,  True)
 ('Mark', 'boy', 78.4, 2, False) ('Tom', 'boy', 70.7, 3, False)]

In [5]:
a['weight'][2]

50.1

In [6]:
boy_weight_sum=0
girl_weight_sum=0
boy_count=0
girl_count=0
for i in range(1,8):
    if a['sex'][i]=='boy':
        boy_count=boy_count+1
        boy_weight_sum=boy_weight_sum+a['weight'][i]
    elif a['sex'][i]=='girl':
        girl_count=girl_count+1
        girl_weight_sum=girl_weight_sum+a['weight'][i]

boy_weight_average=boy_weight_sum/boy_count
girl_weight_average=girl_weight_sum/girl_count
print(boy_weight_average)
print(girl_weight_average)

79.11999999999999
47.8